body {
  text-align: center;
}

h1 {
  color: rgb(122, 3, 3);
  background-color: rgb(219, 213, 213);
  padding: 20px;
  border: 20px double rgb(9, 47, 120);
  font-family: Tahoma;
  font-size: 45px;
}

p {}